@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root {
height: 100%;
}

.website-name {
    font-family: 'Rubik Microbe', system-ui;
}

.dashboard-height {
    height: calc(100vh - 115px);
}


.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    margin-left: -10px;
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 10px;
    background-clip: padding-box;
}
  
.my-masonry-grid_column > div {
    background: white;
    margin-bottom: 10px;
    margin-top: 10px;
}