@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root {
height: 100%;
}

.website-name {
    font-family: 'Rubik Microbe', system-ui;
}

.dashboard-height {
    height: calc(100vh - 115px);
  }